/*COURSES GALLERY SECTION STYLES*/

.section-courses {
    min-height: 1250px;
}

.nav-secondary {
    padding-top: 5rem;
    padding-bottom: 5rem;
    .nav-secondary-links a {
        padding: 0 1rem;
        font-color: #222222;
    }
}

.courses-gallery-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 5rem;
}

li.courses-items {
    max-width: calc((100% / 4) - 3rem);
    margin-right: 3rem;
    margin-bottom: 3rem;
    clear: both;
    flex-grow: 1;
     &:hover {
        box-shadow: 0px 0px 10px 0px rgba(0,0,1,0.25);
     }
    figure {
        margin: 0;
        padding: 0;
    }
}

li.courses-items:nth-child(4), li.courses-items:nth-child(8) {
    margin-right: 0;
}

.courses-figure {
    min-height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 1px #e1e1e1 solid;
}


.courses-txt-container {
    width: 100%;
    min-height: 203px;
}

.course-extra-comments {
    border-top: 1px #e1e1e1 solid;
    clear: both;
}

.course-title {
    text-align: left;
    h4 {
        padding: 0 1.8rem;
        min-height: 7.2rem;
        margin-bottom: 0;
    }
    h4 a {
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 24px;
        text-align: left;
        color: $mainBodyText;
    }
}

.course-author-container {
    text-align: left;
    img {
        border-radius: 50%;
        min-height: 42px;
        margin: 0;
        padding: 1.8rem;

    }
    .course-author-img {
        float: left;
    }
    h5 {
        margin: 0;
        padding: 1.8rem 0 0 0;
    }
    a {
        font-size: 1.2rem;
        font-weight: 300;
    }
}



.course-icons {
    display: inline-block;
    float: left;
    margin-left: 1rem;
    i, p {
        display: inline-block;
    }
}

.course-free {
    display: inline-block;
    float: right;
    margin-right: 1rem;
}


.course-free, .course-icons {
    max-width: calc((100% / 2) - 1rem);
}

/* Portrait tablet and small desktops */
@media (max-width: 941px) {

    .courses-gallery-container {
        padding: 0 4rem 4rem 4rem;
    }

    li.courses-items {
        max-width: calc((100% / 2) - 2rem);
        margin-right: 4rem;
    }

    li.courses-items:nth-child(even) {
        margin-right: 0;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
}

/* Landscape phones and down */
@media (max-width: 480px) {
    .nav-secondary {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    .courses-gallery-container {
        padding: 0;
    }

    li.courses-items {
        max-width: calc((100%));
        margin-right: 0;
    }
}