/*DIFFERENCES STYLES*/
.section-differences {
    min-height: 536px;
}

.different-section-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    padding-top: 7rem;
}

.different-item {
    max-width: calc((100% / 3) - 3rem);
    margin-right: 3rem;
    position: relative;
}

.different-item:last-child {
    margin-right: 0;
}

.different-item h3 {
    clear: both;
}

.different-item h3, .different-item p {
    text-align: left;
}

.different-item-circle {
    background-color: rgba(255,255,255,0.5);
    border-radius: 50%;
    width: 207px;
    height: 207px;
    position: absolute;
    z-index: 0;
    top: -30px;
    left: -20px;
    margin: 0 auto;
}


.different-item img {
    display: inline-block;
    max-width: 10%;
    float: left;
    margin-top: 20px;
    
}

.different-item-txt {
    display: inline-block;
    max-width: 90%;
    float: right;
    z-index: 1;
}


