.footer-primary {
    background-color: $primaryFooter;
    min-height: 406px;
    width: 100%;
}

.footer-primary .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.footer-primary-container {
    padding-top: 7rem;
    width: calc(100% / 4);
    display: inline-block;
    flex-grow: 1;
}

.footer-primary-container:last-child {
    margin-right: 0;
}

.footer-primary-container h3 {
    text-align: left;
    font-size: 24px;
    font-weight: 700px;
    line-height: 26px;
}

.footer p, .footer a {
    font-size: 1.4rem;
    text-align: left;
}

img.footer-logo, .footer-email-form input, .footer-email-form button {
    text-align: left;
}

.footer-email-form input {
    border-radius: 12px;
    padding-left: 1rem;
    width: 80%;
}

.footer-email-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

img.footer-logo {
    display: block;
    margin-top: 24px;
}

.footer-courses-item {
    display: block;
    width: 100%;
    text-align: left;
    line-height: 3rem;
    font-weight: 400;
}

.address-txt, .phone-txt, .email-txt {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.fa-map-marker-alt, .contact-phone, .contact-email, .address-txt p, .phone-txt p, .email-txt p {
    display: inline-block;
    line-height: 22px;
    margin: 0;
    text-align: left;
    width: 100%;
}

.fa-map-marker-alt, .contact-phone, .contact-email {
    width: 10%;
}

    
.address-txt p, .phone-txt p, .email-txt p {
    width: 90%;
}

.phone-txt p, .email-txt p {
    padding-left: 1rem;
}

button, input {
    padding: 0;
    margin: 0;
}

footer button {
    min-height: 42px;
    padding: 1rem;
    width: 20%;
}

.fa-facebook-square {
    color: $facebook;
}

.fa-twitter-square {
    color: $twitter;
}

.fa-google-plus-square {
    color: $googlePlus;
}

.fa-instagram {
    color: $instagram;
}

.gry-txt {
    color: #999999;
}

.footer-social-container {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
}
.footer-social-link-items {
    text-align: left;
    a {
        padding: 0 2rem 0 0;
        font-size: 24px;
        line-height: 48px;
    }
}
.fa-facebook-square, .fa-twitter-square, .fa-google-plus-square, .fa-instagram {
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 48px;
    text-align: left;
}

ul.checkmark-container {
    margin: 0;
    padding: 0;
}

li.checkmark-items {
    font-size :1.4rem;
    font-weight: 300;
    line-height: 24px;
    padding: 0;
    margin: 0;
    text-align: left;
    display: block;
}

.fas.fa-angle-right {
    display: none;
    padding-right: 1rem;
}


/*BOTTOM FOOTER STYLES*/
.footer-secondary {
    background-color: $secondaryFooter;
    min-height: 64px;
    max-width: 100%;
    clear: both;
}

.nav-footer-secondary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    float: left;
    margin: 1.4rem 0;
    ul li a {
        font-size: 1rem;
        font-weight: 100;
        line-height: 24px;
        padding: 0 0 0 2rem;
    }
}

.footer-copyright {
    float: right;
    text-align: right;
}

.nav-footer-secondary, .footer-copyright {
    max-width: 50%;
}


/* Portrait tablet and small desktops */
@media (max-width: 940px) {
    .footer-primary {
        padding: 0 2rem;
    }

    .footer-primary-container {
        padding-top: 7rem;
        display: inline-block;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {


    .footer-primary-container {
        width: 50%;
        margin: 0;
        padding-top: 3rem; 
    }

        .footer-primary-container:last-child {
        margin-left: 0;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {

    .footer-primary .wrapper {
        width: 100%;
        flex-direction: column;
        padding: 0;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .footer-primary-container {
        max-width: 100%;
        margin: 0;
        padding-top: 3rem;
        a img {
            align: left;
        }
    }

    .nav-footer-secondary{
        ul li a {
            font-size: 1rem;
            font-weight: 100;
            line-height: 24px;
            padding: 0;
        }
    }
}