/*PHOTO GALLERY SECTION STYLES*/

.section-gallery {
    min-height: 1008px;
}

.photo-gallery-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.photo-gallery-item {
    max-width: calc((100% / 3) - 3rem);
    margin-right: 3rem;
    position: relative; 
    margin-bottom: 3rem;
}

.photo-gallery-item:nth-child(3), .photo-gallery-item:nth-child(6) {
    margin-right: 0;
}

figcaption.photo-gallery-txt-container {
    visibility: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    bottom: 0;
    margin: 0 auto;
   a .fa-plus-circle{
       background-color: #363636;
       color: $primary;
       min-height: 40px;
       max-width: 40px;
   }
}

li.photo-gallery-item:hover .photo-gallery-txt-container {
    visibility: visible;
}


