header {
    width: 100%;
}

.header-fixed-primary {
    background-color: $fixedHeader;
    min-height: 80px;
    position: fixed;
    top: 0;
    left: 0;
}

.header-fixed-secondary {
    background-color: $primary;
    min-height: 70px;
}

.header-full-bleed {
    background-image: url(../images/full-bleed-header.jpg);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}