/*LATEST NEWS STYLES*/

.section-news {
    min-height: 1934px;
}

.news-container {
    padding-top: 9.8rem;
}

.news-item {
    background-color: $newsBackground;
    min-height: 450px;
    margin-bottom: 8rem;
    position: relative;
    &:hover {
        box-shadow: 0px 0px 10px 0px rgba(0,0,1,0.25);
    }
}

.news-item img {
    float: left;
    position: absolute;
    left: 3rem;
    top: -3rem;
}

.news-item figcaption {
    float: right;
    width: 45%;
    min-height: 236px;
    text-align: left;
    margin-right: 2rem;
    margin-top: 7rem;
    h4 a {
        font-size: 24px;
        font-weight: 700;
        line-height: 24px;
        color: $mainBodyText;
    }
    p {
        font-size: 1.2rem;
        line-height: 18px;
    }
    .link-grn a {
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 18px;
        color: $primary;
    }
    .link-grn {
        min-height: 44px;
        padding: 1.5rem;
        position: absolute;
        bottom: 3rem;
    }
}


/* Portrait tablet and small desktops */
@media (max-width: 940px) {
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
}

/* Landscape phones and down */
@media (max-width: 480px) {
}