/*LATEST NEWS STYLES*/

.section-news {
    min-height: 1934px;
}

.news-container {
    padding-top: 9.8rem;
}

.news-item {
    background-color: $newsBackground;
    min-height: 450px;
    margin-bottom: 8rem;
    position: relative;
    width: 100%;
    &:hover {
        box-shadow: 0px 0px 10px 0px rgba(0,0,1,0.25);
    }
}

.news-item img {
    float: left;
    position: absolute;
    left: 3rem;
    top: -3rem;
}

.news-item figcaption {
    float: right;
    width: 45%;
    min-height: 236px;
    text-align: left;
    margin-right: 2rem;
    margin-top: 7rem;
    h4 a {
        font-size: 24px;
        font-weight: 700;
        line-height: 24px;
        color: $mainBodyText;
    }
    p {
        font-size: 1.2rem;
        line-height: 18px;
    }
    .link-grn a {
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 18px;
        color: $primary;
    }
    .link-grn {
        min-height: 44px;
        padding: 1.5rem;
        position: absolute;
        bottom: 3rem;
    }
}


/* Portrait tablet and small desktops */
@media (max-width: 941px) {

    .news-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .news-item {
        display: flex;
        flex-direction: row;
        position: none;
        min-height: 300px;
        max-width: 100%;
        align-items: center;
        justify-content: space-between;
    }
    img.news-img{
        float: clear;
        width: 50%;
        position: static;

    }

    .news-item figcaption{
        float: clear;
        margin-top: 0;
        margin-bottom: 5rem;
        .link-grn {
            min-height: 44px;
            padding: 1.5rem;
            position: absolute;
            bottom: 3rem;
        }
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
    .news-container {
        padding-top: 6rem;
    }

    .news-item {
        display: flex;
        flex-direction: column;
        position: none;
        min-height: 300px;
        width: calc(100% - 4rem);
        margin-left: 2rem;
        margin-right: 2rem;
        align-items: center;
        justify-content: space-between;
        &:hover figcaption.news-txt-container{
            visibility: visible;
            opacity: 1;
        }/*this code layers the course text information on top of the image on hover*/
    }

    img.news-img{
        float: clear;
        width: 100%;
        position: static;
        left: 0;
    }

    figcaption.news-txt-container {
        float: clear;
        margin: 0 auto;
        width: 100%;
        position: absolute;
        height: 100%;
        width: 100%;
        visibility: hidden;
        background-color: rgba(255,255,255,0.5);
        opacity: 0;
        transition: all 0.4s ease;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 2rem;
        .link-grn {
            min-height: 44px;
            padding: 1.5rem;
            position: static
        }
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
    .news-container {
        padding-top: 2rem
    }
    .news-item {
        margin-bottom: 2rem;
        p {
            margin: 0;
        }
    }

    .news-item figcaption{
        .link-grn {
            margin-top: 2rem;
        }
    }
}