/*PRICING STYLES*/

.section-pricing {
    min-height: 1061px;
}

.section-pricing img {
    padding-bottom: 10rem;
}

.pricing-container {
    display: flex;
    flex-direction: row;
    padding-top: 2rem;
}

.pricing-column {
    background-color: $secondary;
    min-height: 594px;
    max-width: calc((100% / 3) - 3rem);
    margin-right: 3rem;
    position: relative;
}

.pricing-column:last-of-type {
    margin-right: 0;
}

.pricing-column:hover, .pricing-column:hover .pricing-circle {
    background-color: $accentColor;
}

.pricing-circle {
    border-radius: 50%;
    border: 1rem $primary solid;
    min-height: 120px;
    width: 120px;
    position: absolute;
    background-color: $secondary;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: -10%;
}

.pricing-circle:hover, .pricing-column:hover .pricing-circle {
    box-shadow: 0px 0px 10px 0px rgba(0,0,1,0.25);
}

.pricing-circle h3 {
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 3.6px;
}

sup {
    font-size: 1.6rem;
}

.pricing-heading-txt {
    padding: 8rem 0 3rem 0;
    width: 100%;
    display: block;
}
.pricing-heading-txt h3 {
    margin: 0;
}

.pricing-heading-txt p {
    font-size: 1.4rem;
    font-weight:300px;
    line-height: 24px;
    margin: 0;
}

.plan-container {
    background-color: $primary;
    min-height: 385px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.plan-item {
    text-align: center;
    display: inline-block;
    width: 100%;
    font-size: 1.4rem;
    font-weight: 300;
    color: #444444;
    padding: 2rem 8rem;
}

.select-plan h4 a {
    font-size: 1.4rem;
    font-weight: 700;
    color: #444444;
    &:hover {
        color: $primary;
    }
}
