/*COLOUR VARIABLES*/


$fixedHeader: #222221; /*dark grey*/
$accentColor: #86bc42; /*lime green*/
$primary: #ffffff; /*white*/
$secondary: #f0f2f7; /*light grey*/
$primaryNav: #212121;
$mainBodyText: #222222;
$fullBleedFont: #242c42;
$regularIcons: #666666;
$primaryFooter: #252525;
$secondaryFooter: #111111;
$facebook: #3b5999;
$twitter: #00ACE9;
$googlePlus: #E42730;
$instagram: #874D44;
$newsBackground: #f4f6fa;


/*FONTS*/
$baseFont: 'Raleway', sans-serif;
$Montserrat: 'Montserrat', sans-serif;




$mainHeadingType: calc(4rem + (7.2 - 4) * ((100vw - 300px) / (1600 - 300)));
$sectionPreHeader: calc(1.6rem + (1.795 - 1.6) * ((100vw - 300px) / (1170 - 300)));
$sectionMainHeader: calc(3rem + (5 - 3) * ((100vw - 300px) / (1170 - 300)));