article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/*COLOUR VARIABLES*/
/*dark grey*/
/*lime green*/
/*white*/
/*light grey*/
/*FONTS*/
h1 {
  font-size: calc(4rem + (7.2 - 4) * ((100vw - 300px) / (1600 - 300)));
  color: #242c42;
  margin: 0 auto;
  font-weight: 900;
  line-height: 7rem;
  max-width: 41%;
  padding-bottom: 2rem; }

.grn-txt {
  color: #86bc42; }

.uprcase {
  text-transform: uppercase; }

a.grn-txt-hover:hover {
  color: #86bc42; }

.link-grn {
  background-color: #86bc42;
  display: inline-block;
  color: #ffffff; }

h4.uprcase, h2.uprcase {
  color: #222222;
  line-height: 24px;
  margin: 0; }

h4.uprcase {
  font-weight: 300px;
  font-size: calc(1.6rem + (1.795 - 1.6) * ((100vw - 300px) / (1170 - 300))); }

h2.uprcase {
  font-weight: 700px;
  font-size: calc(3rem + (5 - 3) * ((100vw - 300px) / (1170 - 300)));
  padding-top: 1rem;
  padding-bottom: 2.5rem; }

footer, footer a {
  color: #ffffff; }

/* Portrait tablet and small desktops */
/* Landscape phone to portrait tablet */
@media (max-width: 790px) {
  h1 {
    max-width: 100%; } }

/* Landscape phone to portrait tablet */
/* Landscape phones and down */
@media (max-width: 481px) {
  h1 {
    padding-top: 16rem;
    padding-bottom: 0; }
  .header-full-bleed .wrapper p {
    padding-bottom: 0; } }

header {
  width: 100%; }

.header-fixed-primary {
  background-color: #222221;
  min-height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%; }
  .header-fixed-primary a {
    color: #ffffff;
    padding-left: 1rem; }
    .header-fixed-primary a:hover {
      color: #86bc42; }
  .header-fixed-primary .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }

.header-contact, .header-logo, .header-login {
  display: inline-block;
  width: calc((100% / 3) - 2rem);
  line-height: 48px;
  padding-top: 15px; }

.header-contact {
  text-align: left;
  margin-left: 1rem;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto; }

.header-login {
  text-align: right;
  margin-right: 1rem;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto; }

.header-logo {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto; }

.header-fixed-secondary {
  background-color: #ffffff;
  min-height: 70px;
  z-index: 100;
  top: 80px;
  width: 100%;
  left: 0;
  position: fixed;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 1, 0.25);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 1, 0.25); }
  .header-fixed-secondary a {
    color: #212121;
    padding: 20px;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 24px; }
    .header-fixed-secondary a:hover {
      color: #86bc42; }
  .header-fixed-secondary .main-nav {
    width: 38%; }

/*BELOW STYLING IS FOR THE DROP DOWN MENU AS SCREEN SIZE DECREASES*/
.ul-nav-main {
  margin-top: 2rem;
  position: relative; }

li.nav-link {
  display: inline-block;
  margin-right: 1px; }

.show-menu {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  background-color: #ffffff;
  color: #222222;
  text-align: center;
  padding-top: 2rem;
  display: none; }

input[type=checkbox] {
  display: none; }

input[type=checkbox]:checked ~ #menu {
  display: block; }

.header-full-bleed {
  background-image: url(../images/full-bleed-header.jpg);
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .header-full-bleed p {
    max-width: 85%;
    margin: 0 auto;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 5.3rem; }
  .header-full-bleed a {
    color: #ffffff;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 1.5rem 3rem;
    line-height: 55px;
    min-height: 55px;
    max-width: 25%; }

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  .header-contact, .header-login {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 0;
    line-height: 20px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }

/* Make nav on fixed secondary header fit page width*/
@media (max-width: 790px) {
  .header-fixed-secondary a {
    padding: 0.5rem; } }

/* Landscape phone to portrait tablet */
@media (max-width: 525px) {
  .header-contact, .header-login {
    line-height: 1.6rem;
    font-size: 1.2rem; }
  .ul-nav-main {
    position: static;
    display: none; }
  li.nav-link {
    margin-bottom: 1px; }
  ul li, li a {
    width: 100%; }
  .show-menu {
    display: block; }
  .header-contact, .header-logo, .header-login {
    width: calc((100% / 3) - 1rem); }
  .header-contact {
    margin-right: 0.5rem;
    margin-left: 0;
    text-align: left; }
  .header-login {
    margin-left: 0.5rem;
    text-align: right;
    margin-right: 0; } }

/* Landscape phones and down */
@media (max-width: 481px) {
  .header-contact {
    display: none; }
  .header-logo, .header-login {
    width: calc((100% / 2)); }
  .header-login {
    margin: 0; } }

/*COURSES GALLERY SECTION STYLES*/
.section-courses {
  min-height: 1250px; }

.nav-secondary {
  padding-top: 5rem;
  padding-bottom: 5rem; }
  .nav-secondary .nav-secondary-links a {
    padding: 0 1rem;
    color: #222222; }

.courses-gallery-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 5rem;
  width: 100%; }

li.courses-items {
  max-width: calc((100% / 4) - 3rem);
  margin-right: 3rem;
  margin-bottom: 3rem;
  clear: both;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 100%; }
  li.courses-items:hover {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 1, 0.25);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 1, 0.25); }
  li.courses-items figure {
    margin: 0;
    padding: 0; }

li.courses-items:nth-child(4), li.courses-items:nth-child(8) {
  margin-right: 0; }

.courses-figure {
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 1px #e1e1e1 solid; }

img.courses-img {
  width: 100%; }

.courses-txt-container {
  width: 100%;
  min-height: 203px; }

.course-extra-comments {
  border-top: 1px #e1e1e1 solid;
  clear: both; }

.course-title {
  text-align: left; }
  .course-title h4 {
    padding: 0 1.8rem;
    min-height: 7.2rem;
    margin-bottom: 0; }
  .course-title h4 a {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: #222222; }

.course-author-container {
  text-align: left; }
  .course-author-container img {
    border-radius: 50%;
    min-height: 42px;
    margin: 0;
    padding: 1.8rem; }
  .course-author-container .course-author-img {
    float: left; }
  .course-author-container h5 {
    margin: 0;
    padding: 1.8rem 0 0 0; }
  .course-author-container a {
    font-size: 1.2rem;
    font-weight: 300; }

.course-icons {
  display: inline-block;
  float: left;
  margin-left: 1rem; }
  .course-icons i, .course-icons p {
    display: inline-block; }

.course-free {
  display: inline-block;
  float: right;
  margin-right: 1rem; }

.course-free, .course-icons {
  max-width: calc((100% / 2) - 1rem); }

/* Portrait tablet and small desktops */
@media (max-width: 941px) {
  .courses-gallery-container {
    padding: 0 4rem 4rem 4rem; }
  li.courses-items {
    max-width: calc((100% / 2) - 2rem);
    margin-right: 4rem; }
  li.courses-items:nth-child(even) {
    margin-right: 0; } }

/* Landscape phone to portrait tablet */
/* Landscape phones and down */
@media (max-width: 480px) {
  .nav-secondary {
    padding-top: 3rem;
    padding-bottom: 3rem; }
  .courses-gallery-container {
    padding: 0; }
  li.courses-items {
    max-width: calc((100%));
    margin-right: 0; } }

/*PHOTO GALLERY SECTION STYLES*/
.section-gallery {
  min-height: 1008px; }

.photo-gallery-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 6.6rem;
  width: 100%; }

.photo-gallery-item {
  max-width: calc((100% / 3) - 2rem);
  margin-right: 2rem;
  position: relative;
  margin-bottom: 2rem; }
  .photo-gallery-item:hover {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 1, 0.25);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 1, 0.25); }

.photo-gallery-item:nth-of-type(3), .photo-gallery-item:last-of-type {
  margin-right: 0; }

figcaption.photo-gallery-txt-container {
  visibility: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  bottom: 0;
  margin: 0 auto; }

img.photo-gallery-img {
  width: 100%; }

.fa-plus-circle {
  color: #363636;
  background-color: white;
  border-radius: 70%;
  border: 4px solid #b7b7b7; }

li.photo-gallery-item:hover .photo-gallery-txt-container {
  visibility: visible; }

/* When gallery images start to overlap*/
/* Portrait tablet and small desktops */
@media (max-width: 941px) {
  .photo-gallery-container {
    padding: 2rem 5rem; }
  .photo-gallery-item {
    max-width: calc((100% / 2) - 3rem);
    margin-right: 3rem; }
  .photo-gallery-item:nth-of-type(2), .photo-gallery-item:nth-of-type(4), .photo-gallery-item:last-of-type {
    margin-right: 0; } }

/* Landscape phone to portrait tablet */
@media (max-width: 770px) {
  .photo-gallery-item {
    max-width: 100%;
    margin: 0 0 2rem 0; } }

/* Landscape phones and down */
@media (max-width: 480px) {
  .photo-gallery-container {
    padding: 2rem 0; } }

/*LATEST NEWS STYLES*/
.section-news {
  min-height: 1934px; }

.news-container {
  padding-top: 9.8rem; }

.news-item {
  background-color: #f4f6fa;
  min-height: 450px;
  margin-bottom: 8rem;
  position: relative;
  width: 100%; }
  .news-item:hover {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 1, 0.25);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 1, 0.25); }

.news-item img {
  float: left;
  position: absolute;
  left: 3rem;
  top: -3rem; }

.news-item figcaption {
  float: right;
  width: 45%;
  min-height: 236px;
  text-align: left;
  margin-right: 2rem;
  margin-top: 7rem; }
  .news-item figcaption h4 a {
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    color: #222222; }
  .news-item figcaption p {
    font-size: 1.2rem;
    line-height: 18px; }
  .news-item figcaption .link-grn a {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 18px;
    color: #ffffff; }
  .news-item figcaption .link-grn {
    min-height: 44px;
    padding: 1.5rem;
    position: absolute;
    bottom: 3rem; }

/* Portrait tablet and small desktops */
@media (max-width: 941px) {
  .news-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%; }
  .news-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    position: none;
    min-height: 300px;
    max-width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  img.news-img {
    float: clear;
    width: 50%;
    position: static; }
  .news-item figcaption {
    float: clear;
    margin-top: 0;
    margin-bottom: 5rem; }
    .news-item figcaption .link-grn {
      min-height: 44px;
      padding: 1.5rem;
      position: absolute;
      bottom: 3rem; } }

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .news-container {
    padding-top: 6rem; }
  .news-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: none;
    min-height: 300px;
    max-width: 100%;
    margin-left: 2rem;
    margin-right: 2rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    /*this code layers the course text information on top of the image on hover*/ }
    .news-item:hover figcaption.news-txt-container {
      visibility: visible;
      opacity: 1; }
  img.news-img {
    float: clear;
    width: 100%;
    position: static;
    left: 0; }
  figcaption.news-txt-container {
    float: clear;
    margin: 0 auto;
    width: 100%;
    position: absolute;
    height: 100%;
    width: 100%;
    visibility: hidden;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 0;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 2rem; }
    figcaption.news-txt-container .link-grn {
      min-height: 44px;
      padding: 1.5rem;
      position: static; } }

/* Landscape phones and down */
@media (max-width: 480px) {
  .news-container {
    padding-top: 2rem; }
  .news-item {
    margin-bottom: 2rem; }
    .news-item p {
      margin: 0; }
  .news-item figcaption .link-grn {
    margin-top: 2rem; } }

/*DIFFERENCES STYLES*/
.section-differences {
  min-height: 536px; }

.grn-line {
  max-width: 3rem;
  height: 1px;
  background-color: #86bc42; }

.different-section-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 7rem;
  max-width: 100%;
  padding-left: 2rem; }

.different-item {
  width: calc((100% / 3) - 3rem);
  margin-right: 3rem;
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  z-index: 1; }

.different-item:last-child {
  margin-right: 0; }

.different-item h3 {
  clear: both; }

.different-item h3, .different-item p {
  text-align: left; }

.different-item p {
  font-size: 1.4rem;
  font-weight: 300; }

.different-item-circle {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  width: 20.7rem;
  min-height: 20.7rem;
  position: absolute;
  z-index: -1;
  top: -30px;
  left: -20px;
  margin: 0 auto; }

.different-item img {
  display: inline-block;
  max-width: 10%;
  float: left;
  margin-top: 20px; }

.different-item-txt {
  display: inline-block;
  max-width: 90%;
  float: right;
  z-index: 1; }

/* Portrait tablet and small desktops */
@media (max-width: 941px) {
  .different-item-circle {
    display: none; }
  .different-item {
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 12px; }
    .different-item:hover {
      -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 1, 0.25);
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 1, 0.25); } }

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .different-item {
    border: 1px solid #86bc42; } }

/* Landscape phones and down */
@media (max-width: 480px) {
  .different-section-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    padding-top: 4rem; }
  .different-item {
    width: calc(100%);
    margin: 2rem 0 0 0; } }

/*PRICING STYLES*/
.section-pricing {
  min-height: 1061px; }

.section-pricing img {
  padding-bottom: 10rem; }

.pricing-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 2rem;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%; }

.pricing-column {
  background-color: #f0f2f7;
  min-height: 594px;
  max-width: calc((100% / 3) - 3rem);
  margin-right: 3rem;
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

.pricing-column:last-of-type {
  margin-right: 0; }

.pricing-column:hover, .pricing-column:hover .pricing-circle {
  background-color: #86bc42; }

.pricing-circle {
  border-radius: 50%;
  border: 1rem #ffffff solid;
  min-height: 120px;
  width: 120px;
  position: absolute;
  background-color: #f0f2f7;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: -10%; }

.pricing-circle:hover, .pricing-column:hover .pricing-circle {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 1, 0.25);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 1, 0.25); }

.pricing-circle h3 {
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 3.6px; }

sup {
  font-size: 1.6rem; }

.pricing-heading-txt {
  padding: 8rem 0 3rem 0;
  width: 100%;
  display: block; }

.pricing-heading-txt h3 {
  margin: 0; }

.pricing-heading-txt p {
  font-size: 1.4rem;
  font-weight: 300px;
  line-height: 24px;
  margin: 0; }

.plan-container {
  background-color: #ffffff;
  min-height: 385px;
  margin-left: 1rem;
  margin-right: 1rem; }

.plan-item {
  text-align: center;
  display: inline-block;
  width: 100%;
  font-size: 1.4rem;
  font-weight: 300;
  color: #444444;
  padding: 2rem 8rem; }

.select-plan h4 a {
  font-size: 1.4rem;
  font-weight: 700;
  color: #444444; }
  .select-plan h4 a:hover {
    color: #ffffff; }

/* Portrait tablet and small desktops */
@media (max-width: 941px) {
  .pricing-container {
    padding: 2rem; }
  .pricing-column {
    max-width: calc((100% / 2) - 2rem);
    margin: 1rem; }
  .pricing-column:nth-last-of-type(2) {
    margin-right: 0; }
  .pricing-column:last-of-type {
    margin: 0 auto;
    margin-top: 8rem; }
  .plan-item {
    padding: 2rem 2rem; } }

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .pricing-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: space-between;
    -ms-flex-align: space-between;
    align-items: space-between; }
  .pricing-column {
    max-width: calc((100%) - 2rem);
    margin: 2rem; }
  .pricing-column:last-of-type {
    margin: 0 auto;
    margin-top: 8rem; } }

/* Landscape phones and down */
@media (max-width: 481px) {
  .pricing-container {
    padding: 2rem;
    margin-left: 0;
    margin-right: 2rem; }
  .pricing-column {
    max-width: calc(100%);
    margin: 7rem 0 2rem 0; }
  .section-pricing img, .section-pricing {
    padding-bottom: 5rem; }
  .pricing-column:last-of-type {
    margin: 0 auto;
    margin-top: 7rem; } }

.footer-primary {
  background-color: #252525;
  min-height: 406px;
  width: 100%; }

.footer-primary .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.footer-primary-container {
  padding-top: 7rem;
  width: calc(100% / 4);
  display: inline-block;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

.footer-primary-container:last-child {
  margin-right: 0; }

.footer-primary-container h3 {
  text-align: left;
  font-size: 24px;
  font-weight: 700px;
  line-height: 26px; }

.footer p, .footer a {
  font-size: 1.4rem;
  text-align: left; }

img.footer-logo, .footer-email-form input, .footer-email-form button {
  text-align: left; }

.footer-email-form input {
  border-radius: 12px;
  padding-left: 1rem;
  width: 80%; }

.footer-email-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

img.footer-logo {
  display: block;
  margin-top: 24px; }

.footer-courses-item {
  display: block;
  width: 100%;
  text-align: left;
  line-height: 3rem;
  font-weight: 400; }

.address-txt, .phone-txt, .email-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.fa-map-marker-alt, .contact-phone, .contact-email, .address-txt p, .phone-txt p, .email-txt p {
  display: inline-block;
  line-height: 22px;
  margin: 0;
  text-align: left;
  width: 100%; }

.fa-map-marker-alt, .contact-phone, .contact-email {
  width: 10%; }

.address-txt p, .phone-txt p, .email-txt p {
  width: 90%; }

.phone-txt p, .email-txt p {
  padding-left: 1rem; }

button, input {
  padding: 0;
  margin: 0; }

footer button {
  min-height: 42px;
  padding: 1rem;
  width: 20%; }

.fa-facebook-square {
  color: #3b5999; }

.fa-twitter-square {
  color: #00ACE9; }

.fa-google-plus-square {
  color: #E42730; }

.fa-instagram {
  color: #874D44; }

.gry-txt {
  color: #999999; }

.footer-social-container {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.footer-social-link-items {
  text-align: left; }
  .footer-social-link-items a {
    padding: 0 2rem 0 0;
    font-size: 24px;
    line-height: 48px; }

.fa-facebook-square, .fa-twitter-square, .fa-google-plus-square, .fa-instagram {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 48px;
  text-align: left; }

ul.checkmark-container {
  margin: 0;
  padding: 0; }

li.checkmark-items {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 24px;
  padding: 0;
  margin: 0;
  text-align: left;
  display: block; }

.fas.fa-angle-right {
  display: none;
  padding-right: 1rem; }

/*BOTTOM FOOTER STYLES*/
.footer-secondary {
  background-color: #111111;
  min-height: 64px;
  max-width: 100%;
  clear: both; }

.nav-footer-secondary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  float: left;
  margin: 1.4rem 0; }
  .nav-footer-secondary ul li a {
    font-size: 1rem;
    font-weight: 100;
    line-height: 24px;
    padding: 0 0 0 2rem; }

.footer-copyright {
  float: right;
  text-align: right; }

.nav-footer-secondary, .footer-copyright {
  max-width: 50%; }

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  .footer-primary {
    padding: 0 2rem; }
  .footer-primary-container {
    padding-top: 7rem;
    display: inline-block; } }

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .footer-primary-container {
    width: 50%;
    margin: 0;
    padding-top: 3rem; }
  .footer-primary-container:last-child {
    margin-left: 0; } }

/* Landscape phones and down */
@media (max-width: 480px) {
  .footer-primary .wrapper {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .footer-primary-container {
    max-width: 100%;
    margin: 0;
    padding-top: 3rem; }
    .footer-primary-container a img {
      align: left; }
  .nav-footer-secondary ul li a {
    font-size: 1rem;
    font-weight: 100;
    line-height: 24px;
    padding: 0; } }

html {
  font-size: 62.5%; }

body {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

li {
  padding: 0;
  margin: 0;
  display: inline; }

a {
  text-decoration: none; }

figure {
  padding: 0;
  margin: 0; }

img {
  max-width: 100%; }

.wrapper {
  max-width: 1170px;
  margin: 0 auto; }

.section-white {
  background-color: #ffffff; }

.section-lightgrey {
  background-color: #f0f2f7; }

.section-white, .section-lightgrey {
  padding-top: 10rem; }

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  .wrapper {
    max-width: 900px; } }

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .wrapper {
    max-width: 700px; }
  .section-lightgrey {
    background-color: #ffffff; } }

/* Landscape phones and down */
@media (max-width: 480px) {
  .wrapper {
    max-width: 450px; } }

/*Smallest phone screen @320px wide*/
@media (max-width: 320px) {
  .wrapper {
    max-width: 300px; } }
